- @p_bar = 5
.wrapper
  = render 'devise/shared/header', p_bar: @p_bar

  .container
    %h2.title 会員登録完了
    .form
      .form__fields
        .end
          ありがとうございます。
          %br
            会員登録が完了しました
        .submit
          = button_to "marpacriをはじめる", root_path, {method: :get, class: 'btn test'}
.footer-wrap
  .main-footer
    .main-footer_contents
      .text
        .text1
          = "＼ スマホで簡単フリマアプリ ／"
        .text2  
          = "今すぐ無料ダウンロード！"
          .footer_logo
            .apple
              = link_to products_path do
                = image_tag("apple.png")
            .google
              = link_to products_path do
                = image_tag("Gplay.png")
      .smapho
        = image_tag("smapho.png")
.logo-footer
  = render 'devise/shared/footer'
