.regulations
  = link_to '#' do
    .regulations__regulation プライバシーポリシー
  = link_to '#' do
    .regulations__regulation メルカリ利用規約
  = link_to '#' do
    .regulations__regulation 特定商取引に関する表記
.link-logo
  = link_to root_path do
    = image_tag "svg/logo_gray.svg", size: "100x100", class: 'link-logo__svg-image'
.mercari © Mercari, Inc.