.main-footer
  .main-footer_contents
    .text
      .text1
        = 'スマホで簡単フリマアプリ'
      .text2  
        = '今すぐ無料ダウンロード！'
        .footer_logo
          .fmarket_logo
            = link_to products_path do
              = image_tag("logo_red.png")
          .apple
            = link_to products_path do
              = image_tag("apple.png")
          .google
            = link_to products_path do
              = image_tag("Gplay.png")
    .smapho
      = image_tag("smapho.png")

  .under-footer_contents
    .under_contents
      .first
        .first_contents
          = link_to '#' do
            fmarketについて
        .first_item
          .corporate
            = link_to '#' do
              会社概要（運営会社）
          .recruite
            = link_to '#' do
              採用情報
          .relese
            = link_to '#' do
              プレスリリース
          .blog
            = link_to '#' do
              公式ブログ
          .guideline
            = link_to '#' do
              ガイドライン
        .sns
          .tw
            = link_to '#' do
              = image_tag("twitter.png")
          .fb
            = link_to '#' do
              = image_tag("facebook.png")
        .white_fmarket_logo
          = link_to products_path do
            = image_tag("fmarket_logo_white.png")

      .second
        .second_contents
          = link_to '#' do
            ヘルプ＆ガイド
        .second_item
          .guide
            = link_to '#' do
              fmarketガイド
          .shipping_method
            = link_to '#' do
              fmarket便
          .car_trading
            = link_to '#' do
              車体取引について
          .security
            = link_to '#' do
              fmarket安心宣言！
          .fake_brand
            = link_to '#' do
              偽ブランド撲滅への取り組み
          .fmarket_box
            = link_to '#' do
              fmarketボックス

      .third
        .third_contents
          = link_to '#' do
            プライバシーポリシーと利用規約
        .third_item
          .privacy
            = link_to '#' do
              プライバシーポリシー
          .service
            = link_to '#' do
              利用規約
          .compliance
            = link_to '#' do
              コンプライアンスポリシー
          .personal_data
            = link_to '#' do
              個人データ取り扱いについて

      .forth
        .forth_contents
          = link_to '#' do
            国
        .forth_item
          .japan
            = link_to '#' do
              日本
          .america
            = link_to '#' do
              United States

    .corporate_contents
      ©️Fmarket,Inc