.main-area
  %h1.main-area__top 支払い方法
  .main-area__form
    .main-area__form__card-info
      .main-area__form__card-info__title クレジットカード一覧
      .main-area__form__card-info__register-btn
        = fa_icon 'credit-card'
        = 'クレジットカードを登録する'
    = link_to '#' do
      .main-area__form__link 
        = '支払い方法について'
        = fa_icon 'chevron-right'
