.main-area
  .main-area__mypage
    .main-area__mypage__user-icon
      .main-area__mypage__user-icon__detail
        = link_to "#" do
          = image_tag "test.png", size: "100x100", class: "main-area__mypage__user-icon__detail--picture"
          .main-area__mypage__user-icon__detail--name ユーザー名
          .main-area__mypage__user-icon__detail--numbers 評価 9 出品数 10
    %ul.main-area__mypage__tabs
      %li.main-area__mypage__tabs__active-tab  お知らせ
      %li.main-area__mypage__tabs__tab やることリスト

    %ul.main-area__mypage__contents
      = link_to '#' do
        %li.main-area__mypage__contents__content
          .main-area__mypage__contents__content--icon
            = image_tag "svg/logo_red.svg", size: "40x40"
          .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
          .main-area__mypage__contents__content--time-date
            = image_tag "svg/clock-regular.svg", size: "15x15"
            = '2日前'
          .main-area__mypage__contents__content--chevron-right
            = fa_icon 'chevron-right'
        %li.main-area__mypage__contents__content
          .main-area__mypage__contents__content--icon
            = image_tag "svg/logo_red.svg", size: "40x40"
          .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
          .main-area__mypage__contents__content--time-date
            = image_tag "svg/clock-regular.svg", size: "15x15"
            = '2日前'
          .main-area__mypage__contents__content--chevron-right
            = fa_icon 'chevron-right'
        %li.main-area__mypage__contents__content
          .main-area__mypage__contents__content--icon
            = image_tag "svg/logo_red.svg", size: "40x40"
          .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
          .main-area__mypage__contents__content--time-date
            = image_tag "svg/clock-regular.svg", size: "15x15"
            = '2日前'
          .main-area__mypage__contents__content--chevron-right
            = fa_icon 'chevron-right'
        %li.main-area__mypage__contents__content
          .main-area__mypage__contents__content--icon
            = image_tag "svg/logo_red.svg", size: "40x40"
          .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
          .main-area__mypage__contents__content--time-date
            = image_tag "svg/clock-regular.svg", size: "15x15"
            = '2日前'
          .main-area__mypage__contents__content--chevron-right
            = fa_icon 'chevron-right'
        %li.main-area__mypage__contents__content
          .main-area__mypage__contents__content--icon
            = image_tag "svg/logo_red.svg", size: "40x40"
          .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
          .main-area__mypage__contents__content--time-date
            = image_tag "svg/clock-regular.svg", size: "15x15"
            = '2日前'
          .main-area__mypage__contents__content--chevron-right
            = fa_icon 'chevron-right'
      = link_to '#' do
        %li.main-area__mypage__contents__content
          .main-area__mypage__contents__content--link-show-all 一覧を見る

  .main-area__trade-detail
    .main-area__trade-detail__top 購入した商品
    %ul.main-area__trade-detail__tabs
      %li.main-area__trade-detail__tabs__active-tab  取引中
      %li.main-area__trade-detail__tabs__tab  過去の取引
    .main-area__trade-detail__contents
      .main-area__trade-detail__contents__null
        = image_tag "svg/logo_gray.svg", size: "150x150"
        .main-area__trade-detail__contents__null__sentence 取引中の商品がありません