- content_for(:title){@title + @title_end}
.header 
  = render 'products/header'
  = render "breadcrumb"
.mypage-wrapper
  = render 'users/mypage_links'
  = render 'users/user_edit_form'
.footer
  = render 'products/cameraicon'
  = render 'products/footer'