.header 部分テンプレートをrender!!
.mypage-wrapper
  .side-area
    .side-area__trade
      %ul.side-area__trade__list
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
        = link_to '#' do
          %li.side-area__trade__list__link
            .side-area__trade__list__link--name マイページ
            .side-area__trade__list__link--icon 
              = fa_icon 'chevron-right'
    .side-area__merpay メルペイ
    %ul.side-area__merpay__list
      = link_to '#' do
        %li.side-area__merpay__list__link
          .side-area__merpay__list__link--name マイページ
          .side-area__merpay__list__link--icon
            = fa_icon 'chevron-right'
      = link_to '#' do
        %li.side-area__merpay__list__link
          .side-area__merpay__list__link--name マイページ
          .side-area__merpay__list__link--icon 
            = fa_icon 'chevron-right'
            
    .side-area__config 設定
    %ul.side-area__config__list
      = link_to '#' do
        %li.side-area__config__list__link
          .side-area__config__list__link--name マイページ
          .side-area__config__list__link--icon
            = fa_icon 'chevron-right'
      = link_to '#' do
        %li.side-area__config__list__link
          .side-area__config__list__link--name マイページ
          .side-area__config__list__link--icon 
            = fa_icon 'chevron-right'
      = link_to '#' do
        %li.side-area__config__list__link
          .side-area__config__list__link--name マイページ
          .side-area__config__list__link--icon 
            = fa_icon 'chevron-right'
      = link_to '#' do
        %li.side-area__config__list__link
          .side-area__config__list__link--name マイページ
          .side-area__config__list__link--icon 
            = fa_icon 'chevron-right'      
      = link_to '#' do
        %li.side-area__config__list__link
          .side-area__config__list__link--name マイページ
          .side-area__config__list__link--icon 
            = fa_icon 'chevron-right'
      = link_to '#' do
        %li.side-area__config__list__link
          .side-area__config__list__link--name マイページ
          .side-area__config__list__link--icon 
            = fa_icon 'chevron-right'      
      = link_to '#' do
        %li.side-area__config__list__link
          .side-area__config__list__link--name マイページ
          .side-area__config__list__link--icon 
            = fa_icon 'chevron-right'
  .main-area
    .main-area__mypage
    .main-area__trade-detail
.footer 部分テンプレートをrender!!