.header 
  = render 'home/header'
.mypage-wrapper
  = render 'users/mypage__links'
  = render 'users/mypage'
  -# .side-area
  -#   .side-area__trade
  -#     %ul.side-area__trade__list
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name マイページ
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name やることリスト
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name いいね！一覧
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name 出品する
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name 出品した-出品中
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name 出品した-取引中
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name 出品した-売却済み
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name 購入した-取引中
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name 購入した-過去の取引
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name ニュース一覧
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name 評価一覧
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name ガイド
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.side-area__trade__list__link
  -#           .side-area__trade__list__link--name お問い合わせ
  -#           .side-area__trade__list__link--icon 
  -#             = fa_icon 'chevron-right'
  -#   .side-area__merpay メルペイ
  -#   %ul.side-area__merpay__list
  -#     = link_to '#' do
  -#       %li.side-area__merpay__list__link
  -#         .side-area__merpay__list__link--name 売上・振込申請
  -#         .side-area__merpay__list__link--icon
  -#           = fa_icon 'chevron-right'
  -#     = link_to '#' do
  -#       %li.side-area__merpay__list__link
  -#         .side-area__merpay__list__link--name ポイント
  -#         .side-area__merpay__list__link--icon 
  -#           = fa_icon 'chevron-right'
            
  -#   .side-area__config 設定
  -#   %ul.side-area__config__list
  -#     = link_to '#' do
  -#       %li.side-area__config__list__link
  -#         .side-area__config__list__link--name プロフィール
  -#         .side-area__config__list__link--icon
  -#           = fa_icon 'chevron-right'
  -#     = link_to '#' do
  -#       %li.side-area__config__list__link
  -#         .side-area__config__list__link--name 発送元・お届け先住所変更
  -#         .side-area__config__list__link--icon 
  -#           = fa_icon 'chevron-right'
  -#     = link_to '#' do
  -#       %li.side-area__config__list__link
  -#         .side-area__config__list__link--name 支払い方法
  -#         .side-area__config__list__link--icon 
  -#           = fa_icon 'chevron-right'
  -#     = link_to '#' do
  -#       %li.side-area__config__list__link
  -#         .side-area__config__list__link--name メール/パスワード
  -#         .side-area__config__list__link--icon 
  -#           = fa_icon 'chevron-right'      
  -#     = link_to '#' do
  -#       %li.side-area__config__list__link
  -#         .side-area__config__list__link--name 本人情報
  -#         .side-area__config__list__link--icon 
  -#           = fa_icon 'chevron-right'
  -#     = link_to '#' do
  -#       %li.side-area__config__list__link
  -#         .side-area__config__list__link--name 電話番号の確認
  -#         .side-area__config__list__link--icon 
  -#           = fa_icon 'chevron-right'      
  -#     = link_to '#' do
  -#       %li.side-area__config__list__link
  -#         .side-area__config__list__link--name ログアウト
  -#         .side-area__config__list__link--icon 
  -#           = fa_icon 'chevron-right'

  -# .main-area
  -#   .main-area__mypage
  -#     .main-area__mypage__user-icon
  -#       .main-area__mypage__user-icon__detail
  -#         = link_to "#" do
  -#           = image_tag "test.png", size: "100x100", class: "main-area__mypage__user-icon__detail--picture"
  -#           .main-area__mypage__user-icon__detail--name ユーザー名
  -#           .main-area__mypage__user-icon__detail--numbers 評価 9 出品数 10
  -#     %ul.main-area__mypage__tabs
  -#       %li.main-area__mypage__tabs__active-tab  お知らせ
  -#       %li.main-area__mypage__tabs__tab やることリスト

  -#     %ul.main-area__mypage__contents
  -#       = link_to '#' do

  -#         %li.main-area__mypage__contents__content
  -#           .main-area__mypage__contents__content--icon
  -#             = image_tag "svg/logo_red.svg", size: "40x40"
  -#           .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
  -#           .main-area__mypage__contents__content--time-date
  -#             = image_tag "svg/clock-regular", size: "15x15"
  -#             = '2日前'
  -#           .main-area__mypage__contents__content--chevron-right
  -#             = fa_icon 'chevron-right'

  -#         %li.main-area__mypage__contents__content
  -#           .main-area__mypage__contents__content--icon
  -#             = image_tag "svg/logo_red.svg", size: "40x40"
  -#           .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
  -#           .main-area__mypage__contents__content--time-date
  -#             = image_tag "svg/clock-regular", size: "15x15"
  -#             = '2日前'
  -#           .main-area__mypage__contents__content--chevron-right
  -#             = fa_icon 'chevron-right'
  -#         %li.main-area__mypage__contents__content
  -#           .main-area__mypage__contents__content--icon
  -#             = image_tag "svg/logo_red.svg", size: "40x40"
  -#           .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
  -#           .main-area__mypage__contents__content--time-date
  -#             = image_tag "svg/clock-regular", size: "15x15"
  -#             = '2日前'
  -#           .main-area__mypage__contents__content--chevron-right
  -#             = fa_icon 'chevron-right'
  -#         %li.main-area__mypage__contents__content
  -#           .main-area__mypage__contents__content--icon
  -#             = image_tag "svg/logo_red.svg", size: "40x40"
  -#           .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
  -#           .main-area__mypage__contents__content--time-date
  -#             = image_tag "svg/clock-regular", size: "15x15"
  -#             = '2日前'
  -#           .main-area__mypage__contents__content--chevron-right
  -#             = fa_icon 'chevron-right'
  -#         %li.main-area__mypage__contents__content
  -#           .main-area__mypage__contents__content--icon
  -#             = image_tag "svg/logo_red.svg", size: "40x40"
  -#           .main-area__mypage__contents__content--sentence 事務局から個別メッセージ
  -#           .main-area__mypage__contents__content--time-date
  -#             = image_tag "svg/clock-regular", size: "15x15"
  -#             = '2日前'
  -#           .main-area__mypage__contents__content--chevron-right
  -#             = fa_icon 'chevron-right'
  -#       = link_to '#' do
  -#         %li.main-area__mypage__contents__content
  -#           .main-area__mypage__contents__content--link-show-all 一覧を見る

  -#   .main-area__trade-detail
  -#     .main-area__trade-detail__top  購入した商品
  -#     %ul.main-area__trade-detail__tabs
  -#       %li.main-area__trade-detail__tabs__active-tab  取引中
  -#       %li.main-area__trade-detail__tabs__tab  過去の取引
  -#     .main-area__trade-detail__contents
  -#       .main-area__trade-detail__contents__null
  -#         = image_tag "svg/logo_gray.svg", size: "150x150"
  -#         .main-area__trade-detail__contents__null__sentence 取引中の商品がありません
.footer
  = render 'home/cameraicon'
  = render 'home/footer'