.main-header
  .main-header__contents
    .logo
      = link_to home_top_path do
        = image_tag("fmarket_logo_red.png")
    .search
      %input.search{placeholder: '何かお探しですか？'}
  .menu
    .category_icon
      = icon('fas', 'mouse-pointer', class: 'icon')

    .category
      = link_to '#' do
        カテゴリーから探す

    .brand_icon
      = icon('fas', 'tag', class: 'icon')

    .brand
      = link_to '#' do
        ブランドから探す

    .nice_icon
      = icon('fas', 'heart', class: 'icon')
    
    .nice
      = link_to '#' do
        いいね！一覧

    .info_icon
      = icon('fas', 'bell', class: 'icon')

    .information
      = link_to '#' do
        お知らせ

    .todo_icon
      = icon('fas', 'check', class: 'icon')

    .todo
      = link_to '#' do
        やることリスト

    .mypage_icon
      = icon('fas', 'user', class: 'icon')

    .mypage
      = link_to '#' do
        マイページ
