.wrapper
  .main-contents
    = render "home/header"
    
    %h1 登録 or ログイン<仮置き>
    - if user_signed_in?
      %h2 ログインしています
      = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      %h2 ログインしていません
      = link_to "新規登録", new_user_registration_path
      = link_to "ログイン", new_user_session_path
      = link_to "トップページ", "/"

    .slide
      .slide__image
      .slide__text
        .slide__text--large
          スマホでかんたん
          %br
          フリマアプリ
        .slide__text--small
          メルカリはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
      .slide__link
        .slide__link--left
        .slide__link--right