.wrapper
  .main-contents
    = render "home/header"
    

    .slide
      .slide__image
        .slide__text
          .slide__text--large
            スマホで かんたん
            %br
            フリマアプリ
          .slide__text--small
            メルカリはスマホカメラからすぐに出品できる
            %br
            購入時も安心な独自システムのアプリです
        .slide__link
          .slide__link--left
            = image_tag "app-store-badge.svg", id: "appstore"
          .slide__link--right
            = image_tag "google-play-badge.svg", id: "googleplay"

    .products
      .products__header
        .products__header--title
          人気のカテゴリー
        %ul.products__header--category
          %li.products__header--list
            レディース
          %li.products__header--list
            メンズ
          %li.products__header--list
            家電・スマホ・カメラ
          %li.products__header--list
            おもちゃ・ホビー・グッズ

      .products__main
        .products__main--title
          レディース新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

      .products__main
        .products__main--title
          メンズ新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

      .products__main
        .products__main--title
          家電・スマホ・カメラ新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

      .products__main
        .products__main--title
          おもちゃ・ホビー・グッズ新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

    .products
      .products__header
        .products__header--title
          人気のブランド
        %ul.products__header--category
          %li.products__header--list
            シャネル
          %li.products__header--list
            ルイヴィトン
          %li.products__header--list
            シュプリーム
          %li.products__header--list
            ナイキ

      .products__main
        .products__main--title
          シャネル新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

      .products__main
        .products__main--title
          ルイヴィトン新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

      .products__main
        .products__main--title
          シュプリーム新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

      .products__main
        .products__main--title
          ナイキ新着アイテム
        .products__main--more
          もっと見る >
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000

    = render "home/cameraicon"
    = render "home/footer"
