- content_for(:title, '会員情報入力 - メルカリ スマホでかんたん フリマアプリ')
.wrapper
  .logo-title 
    = link_to root_path do
      = image_tag "svg/fmarket_logo_red.svg", size: "150x100", class: 'logo-title__svg-image'
  .signin-area
    .signin-area__new
      %p アカウントをお持ちでない方はこちら
      = link_to '新規会員登録', new_user_registration_path,id:'new_user'
    .signin-area__link-box
      = link_to user_facebook_omniauth_authorize_path, method: :post do
        %button.signin-area__link-box__facebook{ type: 'button' }
          = image_tag "svg/iconfinder_facebook_1807546.svg", size: "25x25", class: 'signin-area__link-box__facebook--icon'
          Facebookでログイン
      = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
        %button.signin-area__link-box__google{ type: 'button' }
          = image_tag "svg/iconfinder_Google_1298745.svg", size: "18x18", class: 'signin-area__link-box__google--icon'
          Googleでログイン
    = form_with(scope: :user, url: session_path(resource_name), local: true, class: 'signin-area__input') do |f|
      = f.email_field :email, placeholder: 'メールアドレス', class: 'signin-area__input--email', required: true
      = f.password_field :password, placeholder: 'パスワード', class: 'signin-area__input--pw', required: true
      = recaptcha_tags
      = flash[:recaptcha_error]
      = f.submit 'ログイン', class: 'submit'
      .signin-area__input--info
        = link_to 'パスワードをお忘れの方', '#'
  = render "devise/shared/footer" 