.breadcrumb
  -# パンくず実装時に変更予定
  .breadcrumb__list
    = link_to '#' do
      メルカリ >
    = link_to '#' do
      カテゴリー一覧 >
    = link_to '#' do
      レディース >
    = link_to '#' do
      トップス >
    = link_to '#' do
      Tシャツ/カットソー(半袖/袖なし)