.wrapper
  .main-contents
    = render "products/header"
    = render "categories/breacrumb"
    .category
      .category__header
        - @category.children.each do |children|
          .category__header--list
            = link_to category_path(children.id) do
              %p 
                = children.name
      .products__main
        .products__main--title
          = @category.name + 'の商品一覧'
        .products__main--list
          - for i in 1..10
            %figure
              = image_tag("test.png", class: "products")
              %figcaption.products__text
                テスト テスト
                %br
                テスト テスト
              .products__price
                .products__price--tag
                  ¥10,000
    = render "products/cameraicon"
    = render "products/footer"

