.wrapper
  .main-contents
    = render "products/header"
    = render "categories/breadcrumb"
    .category
      .category__header
        - @category.children.each do |children|
          .category__header--list
            = link_to category_path(children.id) do
              %p 
                = children.value
      .products__main
        .products__main--title
          = @category.value + 'の商品一覧'
        .products__main--list
          = render partial: "products/list", collection: @category_products , as: :product
        = render "module/pagination", pagy: @pagy
        = render "module/page-description", page_name: @category.value, products: @category_products 
    = render "products/cameraicon"
    = render "products/footer"


