.detail-search
  = form_with(model: @products, url: products_search_path, class: 'detail-search__list-change') do |f|
    = f.select :condition_id, @list_change, {include_blank: '並び替え'}

  .detail-search__box
    .detail-search__box__title 詳細検索
    = form_with(model: @products, url: products_search_path, method: :get, local: :true, class: 'detail-search__box__form') do |f|

      = f.label :'キーワードを追加する'
      = f.text_field :name, placeholder: params[:search_word]

      = f.label :'カテゴリーを選択する'
      = f.collection_select :category_id, Category.all, :id, :value, {prompt: "すべて"}

      = f.label :'ブランド名から探す'
      = f.text_field :nickname, placeholder: '例）シャネル'

      = f.label :'サイズを指定する'
      = f.collection_select :size_id, Size.all, :id, :value, {prompt: "すべて"} 

      = f.label :'価格'
      = f.select :price , @price_list, {include_blank: '選択してください'} 
      = f.number_field :min_price, placeholder: '¥Min'
      = f.number_field :max_price, placeholder: '¥Max'

      = f.label :'商品の状態'
      = f.collection_check_boxes :condition_id, Condition.all, :id, :value
      = check_box_tag :condition_all
      = label_tag :'すべて'

      = f.label :'配送料の負担'
      = f.collection_check_boxes :delivery_expence_id, DeliveryExpense.all, :id, :value, {prompt: "すべて"}
      = check_box_tag :delivery_expence_all
      = label_tag :'すべて'

      = f.label :'販売状況'
      = f.collection_check_boxes :status_id, Status.all, :id, :value
      = check_box_tag :status_all
      = label_tag :'すべて'

      = button_tag  :'クリア'
      = f.submit value: '完了'