.main-header
  .main-header__contents
    .logo
      = link_to root_path do
        = image_tag("fmarket_logo_red.png")
    .search
      .box
        = form_with(model: @product, url: products_search_path, method: :get, local: :true) do |f|
          = f.text_field :search_word, class: 'header-search-form', placeholder: '何かお探しですか？'
          .search-form-button
            = f.button type: 'submit', class: 'search-form-button__submit' do
              = icon('fas', 'search')
          -# = f.submit class: 'search-form-submit'

  .menu
    .fas.fa-mouse-pointer
      = link_to categories_path do
        カテゴリーから探す
    .fas.fa-tag
      = link_to brand_group_path(1) do
        ブランドから探す

    - if user_signed_in?
      .sign_box
      .fas.fa-heart
        = link_to '#' do
          いいね！一覧

      .fas.fa-bell
        = link_to '#' do
          お知らせ
          
      .fas.fa-check
        = link_to '#' do
          やることリスト

      .fas.fa-user
        = link_to  user_path(current_user), method: :get do
          マイページ
    - else
      .login
        = link_to "新規登録", new_user_registration_path
        = link_to "ログイン", user_session_path
