- if @search_result.present?
  .search-result
    .search-result__title
      = "#{params[:search_word]}の検索結果"
      = "1-#{@search_result.length}件表示"
      - @search_result.each do |result|
        = image_tag(result.photos.first.photo.url, class: "products")
        = result.name
- else
  .products-new
    .products-new__title 
      = '新着商品'
      - @products_new.each do |result|
        = image_tag(result.photos.first.photo.url)
        = result.name