- if @search_result.present?
  .search-result
    .search-result__title
      %p.search-result__title__topic
        = "#{params[:search_word]}の検索結果"
      %p.search-result__title__num
        = "1-#{@search_result.length}件表示"
    .search-result__products
      = render partial: "list", collection: @search_result, as: :product
- else
  .search-result
    .search-result__title
      %p.search-result__title__topic
        = '新着商品'
    .search-result__products
      = render partial: "list", collection: @products_new, as: :product
