= render 'products/header'
.search-wrapper
  = '詳細検索だよ'
  = render partial: 'products/detail_search'
  = render partial: 'products/search_result'
= render 'products/cameraicon'
= render 'products/footer'
