.top_icon
  = link_to products_path do
    = image_tag("fmarket_logo_red.png")

.transact-attention
  .far.fa-clock

  %span 発送をお待ちください
  %p 出品者からの発送通知をお待ちください
%h2.l-single-head 購入が完了しました

.buy-content.buy-item
  = image_tag("test.png")

.done-user-ratings
  %p.buy-contet__text
    %span 商品を受け取ったら
    %br
    出品者の評価をしましょう。
  .itembuy-user-face
    .fas.fa-smile
    .fas.fa-meh
    .fas.fa-frown

  .comment_field
    = form_tag do
      %textarea.text
      %button コメントする

.itembuy-done
  %br
  評価後に取引は完了です。
  .back_mypage
    = link_to '#', class: 'review-content-bold' do
      マイページへもどる

.last_done
=render "products/footer"