- content_for(:title, '商品の情報を入力 - メルカリ スマホでかんたん フリマアプリ')
.wrapper
  = render "products/logo-header"
= form_with model: @product, url: "/products/1", method: :patch,local: true, class: "sell-area__container" do |f|
  .sell-area
    .sell-area__title 
      商品の情報を入力
    .sell-area__upload
      %h3.sell-area__header
        出品画像
        %span.form-require 必須
      %p.sell-area__text
        最大10枚までアップロードできます
      .sell-area__dropbox
        .sell-area__dropbox-now
          = image_tag "test.png", size: "90x100"
          .sell-area__dxropbox-function
            .sell-area__dropbox-edit-function
              =link_to "#", class: "form-edit" do
                編集
            .sell-area__dropbox-delete-function
              =link_to "#", class: "form-delete" do
                削除
        %label.sell-area__dropbox__img-change
          %p.sell-area__dropbox__img--text ドラッグアンドドロップ<br>またはクリックしてファイルをアップロード
          = f.fields_for :photos do |i|
            = i.file_field :photo ,class: 'photo-input'

    .sell-area__content
      %h3.sell-area__name
        商品名
        %span.form-require  必須
        = f.text_field :name, placeholder: "商品名（必須 40文字まで)", class: "sell-area__name__form"
      %h3.sell-area__description
        商品の説明
        %span.form-require  必須
        = f.text_area :description, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "sell-area__description__textarea"
    .sell-area__details
      %h3.sell-area__details__name
        商品の詳細
      .sell-area__details__main-category
        カテゴリー
        %span.form-require 必須
        .sell-area__details__main-category__select
          = f.collection_select :category_id, Category.all.limit(13), :id, :value, {prompt: "---"}, class: "sell-area__details__main-category__default"
      -# カテゴリの出現場所
      .category__append
      .sell-area__details__brand
        ブランド  
        %span.form-any 任意
        .sell-area__details__status__select
        = f.fields_for :brand do |i|
          = i.text_field :name , class: "sell-area__details__brand__default"
      .sell-area__details__status
        商品の状態
        %span.form-require 必須
        .sell-area__details__status__select
          = f.collection_select :condition_id, Condition.all, :id, :value, {prompt: "---"}, class: "sell-area__details__status__default"
    .sell-area__delivery
      %h3.sell-area__delivery__method
        配送について
      =link_to "#", class: "form-question" do
        ?
      .sell-area__delivery__burden
        配送料の負担
        %span.form-require 必須
        .sell-area__delivery__burden__select
          = f.collection_select :delivery_expense_id, DeliveryExpense.all, :id, :value, {prompt: "---"}, class: "sell-area__delivery__burden__default"
      .delivery__way__append
      .sell-area__delivery__origin
        発送元の地域
        %span.form-require 必須
        .sell-area__delivery__origin__select
          = f.collection_select :area_id, Area.all, :id, :name, {prompt: "---"}, class: "sell-area__delivery__origin__default"
      .sell-area__delivery__days
        発送までの日数
        %span.form-require 必須
        .sell-area__delivery__days__select
          = f.collection_select :shipdate_id, Shipdate.all, :id, :value, {prompt: "---"}, class: "sell-area__delivery__days__default"
    .sell-area__selling
      %h3.sell-area__selling__price
        販売価格(300〜9,999,999)
      =link_to "#", class: "form-question" do
        ?
      .sell-area__selling__form-group--top
        .sell-area__selling--left
          価格
          %span.form-require 必須
        .sell-area__selling--right
          ¥
          = f.number_field :price, placeholder: "例) 300円", class: "sell-area__selling__box"
      .sell-area__selling__form-group--center
        .sell-area__selling__commission--left
          販売手数料 (10%)
          .sell-area__selling__commission--right
            .code -
      .sell-area__selling__form-group--bottom
        .sell-area__selling__profit--left
          販売利益
          .sell-area__selling__profit--right
            .code -
    .sell-area__box
      = f.submit "変更する",class:"sell-area__box__button--red-change"
      = link_to user_listing_path(current_user), class: "product-show" do
        %button.sell-area__box__button--gray-change{type: "button"}
          キャンセル
    = render "products/logo-footer"