.wrapper
  .main-contents
    = render "products/header"
    

    .slide
      .slide__image
        .slide__text
          .slide__text--large
            スマホで かんたん
            %br
            フリマアプリ
          .slide__text--small
            メルカリはスマホカメラからすぐに出品できる
            %br
            購入時も安心な独自システムのアプリです
        .slide__link
          .slide__link--left
            = image_tag "app-store-badge.svg", id: "appstore"
          .slide__link--right
            = image_tag "google-play-badge.svg", id: "googleplay"

    .products
      .products__header
        .products__header--title
          人気のカテゴリー
        %ul.products__header--category
          -# 出品されている商品の中で人気(出品数が多い)のcategoryBest４を表示
          - @popular_categories.each do |category|
            %li.products__header--list
              = category.category.name

      - @popular_categories.each do |category|
        .products__main
          .products__main--title
            = category.category.name
            新着アイテム
          .products__main--more
            = link_to "もっと見る >", "#"
          .products__main--list
            -# 個別の商品リストに表示される中身はcollectionに渡す引数で制御する
            = render partial: "list", collection: @popular_categories_products.where(category_id: category.category_id).limit(10), as: :product

    .products
      .products__header
        .products__header--title
          人気のブランド
        %ul.products__header--category
          -# 出品されている商品の中で人気(出品数が多い)のcategoryBest４を表示
          - @popular_brands.limit(4).each do |brand|
            %li.products__header--list
              = brand.brand.name

      - @popular_brands.limit(4).each do |brand|
        .products__main
          .products__main--title
            = brand.brand.name
            新着アイテム
          .products__main--more
            = link_to "もっと見る >", "#"
          .products__main--list
            = render partial: "list", collection: @popular_brands_products.where(brand_id: brand.brand_id).limit(10), as: :product

    = render "products/cameraicon"
    = render "products/footer"
