- content_for(:title){@title}
.wrapper
  .main-contents
    = render "products/header"
    .slide
      .slide__image
        .slide__text
          .slide__text--large
            スマホで かんたん
            %br
            フリマアプリ
          .slide__text--small
            メルカリはスマホカメラからすぐに出品できる
            %br
            購入時も安心な独自システムのアプリです
        .slide__link
          .slide__link--left
            = image_tag "app-store-badge.svg", id: "appstore"
          .slide__link--right
            = image_tag "google-play-badge.svg", id: "googleplay"

    .products
      //商品一覧を取得 
      .products__header
        .products__header--title
          人気のカテゴリー
        %ul.products__header--category
          -# 出品されている商品の中で人気(出品数が多い)のカテゴリーBest４を表示
          - @popular_categories.each do |category|
            %li.products__header--list
              = category.value

      - @popular_categories.each do |category|
        .products__main
          .products__main--title
            = category.value
            新着アイテム
          .products__main--more
            = link_to "もっと見る >", category_path(category.id)
          .products__main--list
            -# 該当カテゴリ(以下)の未取引の新着アイテムを表示(商品の数が少ないため、現在はコメントアウト)
            -# = render partial: "list", collection: @not_sold_products.where(category_id: category.subtree_ids).order('id DESC').limit(10), as: :product
            = render partial: "list", collection: @products.where(category_id: category.subtree_ids).order('id DESC').limit(10), as: :product

    .products
      .products__header
        .products__header--title
          人気のブランド
        %ul.products__header--category
          -# 出品されている商品の中で人気(出品数が多い)のブランドBest４を表示
          - @popular_brands.each do |brand|
            %li.products__header--list
              = brand.name

      - @popular_brands.each do |brand|
        .products__main
          .products__main--title
            = brand.name
            新着アイテム
          .products__main--more
            = link_to "もっと見る >", brand_path(brand.id)
          .products__main--list
            -# 該当ブランドの未取引の新着アイテムを表示(商品の数が少ないため、現在はコメントアウト)
            -# = render partial: "list", collection: @not_sold_products.where(brand_id: brand.id).order('id DESC').limit(10), as: :product
            = render partial: "list", collection: @products.where(brand_id: brand.id).order('id DESC').limit(10), as: :product
    = render "products/cameraicon"
    = render "products/footer"
