- content_for(:title){@title}
= render 'products/header'
.search-wrapper
  = render 'products/detail_search'
  = render 'products/search_result'
= render 'products/cameraicon'
= render 'products/footer'
